@import "~bootstrap/scss/bootstrap";

body {
	box-sizing: border-box;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.active {
	color: black;
}
a {
	color: #fff;
}
.navbar {
	justify-content: space-between;
	padding: 10px;
}
.items {
	display: flex;
	list-style: none;
}
.item {
	padding: 5px;
}
input {
	outline: none;
}
.list-group-item {
	display: flex;
	justify-content: space-between;
}
span {
	margin-left: 10px;
}
